/* Start Global*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-background-size: cover;
	box-sizing: border-box;
}

.navbar,
.header,
.services,
.our-team,
.testimonial,
.project,
.footer {
	min-width: 1200px;
}

.container {
	
	width:1200px;
	margin:auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


p {
	line-height:1.7;
}

.fa-chevron-circle-up {
	color: #eb751d;
	right: 20px;
	bottom: 20px;
	position: fixed;
	display: none;

}

.fa-chevron-circle-up:hover {
	color: #f2914a;
	cursor: pointer;
}

/* End Global */

/* Start Navigation Bar */

.navbar {
	height: 0;
	color:#fff;
	position: relative;
	z-index: 1;
}

.navbar .brand h2 {
	float:left;
	font-weight: normal;
	margin-top: 18px;
}

.navbar .links {
	float:right;
	right: 5px;
	position:relative;
}

.navbar .links li {
	display: inline-block;
	padding: 10px 0 0 0;
	margin: 15px 25px 0 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	right:0;
}

.navbar .links li a {
	padding-bottom: 7px;
}

.navbar .links li.active
{
	color: #eb751d;
	border-bottom: 1px solid #eb751d;
	padding-bottom: 7px;
}

.navbar .links li.active a
{
	color: #eb751d;
	border-bottom: 1px solid #eb751d;
	padding-bottom: 7px;
}

.navbar .links li a {
	text-decoration: none;
	color: #fff;
	
}


.navbar .links li a:hover {
	text-decoration: none;
	color: #eb751d;
	border-bottom: 1px solid #eb751d;
}

/* End Navigation Bar */

/* Start Header */

.header {
	width: 100% !important;
	background: url('../images/sslide1.jpg')fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.header .overlay {
	background-color: rgba(0, 0, 0, .755);
	position: absolute;
	width: 100%;
	height: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	
}

.header .bxslider {
	text-align: center;
	
}
.header .bxslider li {
	color:#fff;
	display:block;
}

.header .bxslider li h1 {
	margin: 0;
	text-transform:uppercase;
	font-size:40px;
	font-weight: normal;
}
.header .bxslider li h1 span {
	color: #eb751d;
	text-transform: none;
	font-size: 45px
}

.header .bxslider li p {
	margin-bottom: 0;
	width: 500px;
	margin: 10px auto;
	text-align: center;
	letter-spacing: 1.4px;
}

												
.header .overlay button {
	background: none;
	color: #fff;
	padding: 10px 17px;
	border: 2px solid #fff;
	margin-top: 150px;
	position: relative;
}

.header .overlay button:hover {
	color: #eb751d;
	border: 2px solid #eb751d;
	cursor:pointer;
}

.header .bx-wrapper {
	height:100%;
}
.header .bx-wrapper .bx-viewport {
	box-shadow: none;
	border: 0;
	background: none;
	height: 100% !important;
}

/* End Header */


/* Start Sirvices */

.services {
	margin:40px 0;
}

.services h2 {
	color: #585858;
	padding:20px 20px 20px 0;
	font-weight: normal;
}

.services .item {
	width: 33.33333%;
	float: left;
	margin-bottom:70px;
	opacity: 0;
}
.services .item i {
	float:left;
	padding: 8px 20px 36px 0;
	color: #eb751d;
}

.services .item .info {
}

.fa-mixcloud {
	margin-right:10px;
}

.services .item h3 {
	font-weight: normal;
	color: #585858;
	margin-bottom:0
}

.services .item p {
	color: #a7a7a7;
	font-size: 14px;
	line-height:1.5;
	letter-spacing: 1.9;
	padding-right:13px;
	padding-bottom:0;
}


/* End Sirvices */

/* Start Our Team*/


.our-team .box {
	float: left;
	opacity: 0;

}
.our-team .box:first-child {
	width: 35%;
}

.our-team .box:not(:first-child) {
	width: 15.5;
	text-align:right;
	margin-top: 80px;
	position: relative;
}

.our-team .box img {
	width: 100%;
	height: 100%;
}
.our-team .box:nth-child(2),
.our-team .box:nth-child(3),
.our-team .box:nth-child(4){
	margin-right: 1%;
}
.our-team .box:nth-child(2) {
	margin-left: 5%;
}

.our-team .box:not(:first-child) .overly{
	position: absolute;
	width: 100%;
	height: 97.7%;
	top: 0;
	right: 0;
	background-color: #eb751d;
	color: #fff;
	text-align: center;
	line-height: 170px;
	opacity: .8;
	display: none;
}

.our-team .box:not(:first-child):hover .overly {
	display: block;
}


.our-team h2 {
	color: #585858;
	padding:20px 20px 10px 0;
	font-weight: normal;
	margin-top: 60px;
	display:inline-block
}

.our-team p {
	color: #a7a7a7;
	font-size: 16px;
	line-height:1.5;
	letter-spacing: 1.9;
	padding-bottom:0;
	display:inline-block
}

/* End Our Team*/

/*Start Testimonial*/

.testimonial {
	background: url('../images/testim.jpg')fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 340px;
	margin-top:80px;
	margin-bottom:60px;
	position:relative;
	text-align: center;
	opacity: 0;
	
}

.testimonial .t-overly {
	position:abslute;
	width:100%;
	height:100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	padding:50px 0;
}

.testimonial h2 {
	font-weight: normal;
	margin-bottom: 50px;
}

.testimonial q {
	display: inline-block;
	width: 800px;
	line-height: 1.7;
	font-size: 17px;
	letter-spacing: .8px;
	color: #c6c6c6;
}

.testimonial p {
	color: #eb751d;
	margin-top: 40px;
	font-size: 19px
}

.testimonial .slider > div {
	display: none;
}

.testimonial .slider .active {
	display: block;
}

/*End Testimonial*/


/* Start project */

.project {
	height: 660px;
}
.project h2 {
	color: #585858;
	padding: 20px 20px 10px 0;
	font-weight: normal;
	display: inline-block;
}


.project li {
	display :inline-block;
	padding: 10px 19px;
	margin:10px 4px 0 0;
	border: 1px solid #aaaaaa;
	color: #868686;
	border-radius: 5px;
}

.project li:hover {
	border: 1px solid #eb751d;
	background-color: #eb751d;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.project li.active {
	border: 1px solid #eb751d;
	background-color: #eb751d;
	color: #fff;
	border-radius: 5px;
}

.project .gallery {
	margin-top: 50px;
	overflow: hidden;
}

.project .gallery .row .image {
	width: 32.6666666%;
	float: left;
	margin-bottom: 12px;
	padding:2px;
	padding-bottom: 0;
	border: 1px solid #dddbdb;
	position: relative;
}
.project .gallery .row .image:nth-child(2) {
	margin-right: 1%;
	margin-left: 1%;
}

.project .gallery .row .image img {
	width: 100%;
	height: 100%;
}

.project .gallery .row .image .over{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #eb751d;
	color: #fff;
	text-align: center;
	line-height: 234px;
	opacity: .8;
	display: none;
}

.project .gallery .row .image .heart {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
	display: none;
}

.project .gallery .row .image:hover .over,
.project .gallery .row .image:hover .heart{
	display: block;
}

.gallery .mix {
	display: none;
}

/* End project */


/* Start Footer */

.footer {
	background-color: #232323;
	color: #9c9c9c;
	padding: 50px 0 20px 0;
	overflow:hidden;
	margin-top: 120px;
}

.footer .col {
	float: left;
	width: 25%;
}

.footer .col h2 {
	color: #e0e0e0;
	font-weight: normal;
	font-size:18px;
	margin-bottom: 25px;
}

.footer .col p {
	font-size: 15px;
	padding-right: 10px;
	margin-bottom: 30px;
}

.footer .col i {
	padding:10px ;
	border: 1px solid #9c9c9c;
	float: left;
	margin: 5px;
	font-size: 14px;
	color: #c6c6c6
}

.footer .col i:hover {
	color: #dedede;
	border: 1px solid #d8d8d8;
	cursor: pointer;
}

.footer .tags span {
	padding:10px 15px;
	border: 1px solid #9c9c9c;
	float: left;
	margin: 5px;
	font-size: 13px;
	color: #e2e2e2
}

.footer .recent {
	overflow:hidden;
}

.footer .recent div {
	margin-top: 18px;
}

.footer .recent img {
	float: left;
	margin-right: 15px;
}

.footer .recent h2 {
	margin-bottom: 30px;
}
.footer .recent h4 {
	margin: 7px 0 4px 0;
	font-weight: normal;
	font-size: 14px;
	padding-top: 5px;
	color: #dddbdb;
}

.footer .recent span {
	font-size: 12px;
}

.footer .blog li {
	padding: 15px 0;
	border-bottom: 1px solid #5d5d5d;
	color: #dddbdb;
}

.footer .copyright {
	margin-top: 60px;
	font-size: 15px;
}
/* End Footer */





/*Start My FreamWork */

.clearFix {
	clear:both;
}

.special-heading {
	position: relative;

}

.special-heading:after {
	position: absolute;
	content: "";
	border-bottom:1px solid #585858;
	width: 34px;
	display: block;
	top: 54px;
	left: 0;	
	margin: 0 0 20px 0;
}

hr {
	border-top: 1px solid #c4c4c4;
}

.padding-right-left {
	padding-right:15px;
	padding-left: 15px;
}

/* End My FreamWork */